<!--
(QB)² - Question Bank Quick Builder

The Clear BSD License

Copyright (c) 2021 Regents of the University of California
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted (subject to the limitations in the disclaimer
below) provided that the following conditions are met:

     * Redistributions of source code must retain the above copyright notice,
     this list of conditions and the following disclaimer.

     * Redistributions in binary form must reproduce the above copyright
     notice, this list of conditions and the following disclaimer in the
     documentation and/or other materials provided with the distribution.

     * Neither the name of the copyright holder nor the names of its
     contributors may be used to endorse or promote products derived from this
     software without specific prior written permission.

NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY
THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND
CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
-->

<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
<?!= include('General.css'); ?>
<?!= include('General.js'); ?>
<?!= include('About.css'); ?>

<div class='icon'></div>
<div class="text">
    <p>
        (QB)² allows for quick and easy generation of moodle quiz questions. Once the instructor creates the
        questions
        in the spreadsheet, the application enables them to export these questions to an XML document, which can
        then be
        imported into moodle.
    </p>
</div>
<div>
    <p>
        <span
            onclick="openLink('https://humtech.atlassian.net/wiki/spaces/IP/pages/17629199/QB+-+Change+Log?atlOrigin=eyJpIjoiNmJjZTYyZTg0NGMyNGUzYWE1ZTAxYmI4OGY2MjMzNjUiLCJwIjoiYyJ9');"
            class='link'>Version 5.1.2</span>
        <br>
        <br>
        Compatible with Moodle 3.5+
        <br>
        <br>
        <span onclick="openLink('http://www.universityofcalifornia.edu/');" class='link'>University of
            California</span>
        Copyright © 2021 UC Regents
    </p>
</div>