<!--
(QB)² - Question Bank Quick Builder

The Clear BSD License

Copyright (c) 2021 Regents of the University of California
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted (subject to the limitations in the disclaimer
below) provided that the following conditions are met:

     * Redistributions of source code must retain the above copyright notice,
     this list of conditions and the following disclaimer.

     * Redistributions in binary form must reproduce the above copyright
     notice, this list of conditions and the following disclaimer in the
     documentation and/or other materials provided with the distribution.

     * Neither the name of the copyright holder nor the names of its
     contributors may be used to endorse or promote products derived from this
     software without specific prior written permission.

NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY
THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND
CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
-->

<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
<?!= include('QuestionSidebar-CSS') ?>

<div class='mainWrapper'>
    <div class="sectionWrapper">
        <form id="questionForm" onsubmit="disableButton(); return false;">
            <div class='topRow'>
                <div class='logo'>
                    <img class='sidebarImg' src="https://drive.google.com/uc?export=download&id=1gYd_OEZQtrPFHBwXCynpw4pTob2hsRMF">
                </div>
                <div id="questionType"></div>
                <div id="whatIsThis" class="smallText">What's this?<span class="tooltiptext"></span></div>
            </div>
            <!-- This will show only on the initial screen giving instructions -->
            <div class="subsection instructions">
                <p>To use this interface, first choose your question type above. Select ADD when you have input the content to populate the spreadsheet.</p>
                <p>If you have suggestions or feedback on (QB)<sup>2</sup>, please let us know!</p>
                <p><a id="contact-link" href="https://humtech.ucla.edu/ticket/" target="_blank">Contact Us</a></p>
            </div>
            <div class="subsection imageDiv">
                <img class="image" src="https://drive.google.com/uc?export=download&id=1zYic1Zwj_jaqeBQ-PrZ7m7VgwdRT2_TR">
            </div>
            <!-- Everything in this div scrolls; the rest is static on the page -->
            <div class="scrollable">
                <div class="subsection categories" style="display:none">
                    <p class="smallText">Select a category to add this question to.<br>
                        Categories are used for organization.</p>
                    <div id="category-input">
                        <input class="category-input" placeholder="Add a new category..." />
                        <button class="action cat-submit" onclick="addCategory($('.category-input').val())">Add</button>
                    </div>
                    <div class="categoryRow">
                        <div id="categoryList"></div>
                    </div>
                </div>
                <!-- We separate categories from questionInfo so it is saved when we change question type -->
                <div class="subsection" id="questionInfo">
                    <div class="subsection" id="questionText" style="display:none">
                        <label for="questionTextBox" class="smallText" id="questionTextLabel">Question Text</label><br>
                        <textarea class="resettableText" id="questionTextBox" name="questionTextBox" rows="3" cols="50" form="questionForm"></textarea>
                    </div>
                    <div class="subsection" id="questionSettings"></div>
                    <div class="subsection" id="questionMedia" style="display:none">
                        <input class="resettableCheckbox" type="checkbox" id="questionMediaCheckbox" name="hasMedia" value="hasMedia">
                        <label for="questionMediaCheckbox" class="smallText" id="questionMediaLabel">This question or its answers contains media (must be added after export)</label><br>
                    </div>
                </div>
            </div>
            <footer>
                <div class="subsection" id="buttonRow" style="display:none">
                    <button class="sidebarButton reset" onclick="confirmReset()">Reset</button>
                    <button class="sidebarButton action add" onclick="addQuestion()">Add</button>
                </div>
                <div class="subsection" id="lastAdded" style="display:none"></div>
                <div class="subsection copyright">
                    <p><span onclick="openLink('http://www.universityofcalifornia.edu/');" class='link' >University of California</span> Copyright © 2021 UC Regents</p>
                </div>
            </footer>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<?!= include('QuestionSidebar-JS') ?>
