<!--
(QB)² - Question Bank Quick Builder

The Clear BSD License

Copyright (c) 2021 Regents of the University of California
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted (subject to the limitations in the disclaimer
below) provided that the following conditions are met:

     * Redistributions of source code must retain the above copyright notice,
     this list of conditions and the following disclaimer.

     * Redistributions in binary form must reproduce the above copyright
     notice, this list of conditions and the following disclaimer in the
     documentation and/or other materials provided with the distribution.

     * Neither the name of the copyright holder nor the names of its
     contributors may be used to endorse or promote products derived from this
     software without specific prior written permission.

NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY
THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND
CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
-->

<!-- Note: requires jquery -->
<script type="text/javascript">

var scoreAndGroupChoices = [];
var numOfAnswerCols = 0;

//load in the dropdowns for categories and questions on sidebar open
$(document).ready(function() {
    getCategories();
    getQuestionTypes();
    getScoreAndGroupChoices();
    getNumOfAnswerCols();
});

//Change the form to reflect the selected question type
$('#questionType').on('change',function(){
    var selection = $('#questionType :selected').text();
    displayQuestionInfo(selection);
});

//Create the dropdown menu to choose question types
function createQuestionTypes(choices) {
    if (choices != null) {
        var sel = $('<select/>').attr("id", "questionType").attr("name", "questionType");
        sel.append($('<option/>').attr("value", "none").attr("selected", "selected")
                    .attr("disabled", "disabled").attr("hidden", "hidden").text("Question Type"));
        for (var i = 0; i < choices.length; i++) {
            sel.append($('<option/>').attr("value", choices[i]).text(choices[i]));
        }

        //Replace the existing dropdown, if any
        var node = $( "#questionType" );
        node.empty();
        node.append(sel);
    }
}

//Get an array of supported question types
function getQuestionTypes() {
    google.script.run.withSuccessHandler(createQuestionTypes).getSupportedQuestions();
}

//Create (or update) the dropdown menu to choose category
function createCategories(choices) {
    if (choices != null) {
        var sel = $('<select/>').attr("class", "categorySelect").attr("name", "categoryName");
        sel.append($('<option/>').attr("class", "categoryOption").attr("value", "none").attr("selected", "selected")
                    .attr("disabled", "disabled").attr("hidden", "hidden").text("Choose Category"));

        // Generate options
        // Sort choices (case insensitive)
        var categoriesAdded = 0;
        choices = choices.slice(1).sort(function(a, b) {
            var l = a[0];
            var r = b[0];

            if(l.toLowerCase() < r.toLowerCase())
                return -1;
            else if(l.toLowerCase() > r.toLowerCase())
                return 1;
            else
                return 0;
        });

        for(i = 0; i < choices.length; i++) {
            if (choices[i][0].trim() != '') {
                categoriesAdded++;
                sel.append($('<option/>').attr("class", "categoryOption").attr("value", choices[i][0].trim()).text(choices[i][0].trim()));
            }
        }

        //If no categories exist, let the user know
        if (categoriesAdded == 0) {
            sel.append($('<option/>').attr("class", "categoryOption").attr("value", "none")
                        .attr("disabled", "disabled").text("(No Categories Found)"));
        }

        //Replace the existing dropdown, if any
        var node = $( "#categoryList" );
        node.empty();
        node.append(sel);

        // Autoselect the new added category
        const newCategory = $(".category-input").val();
        if (newCategory != null && newCategory != "") {
            $(".category-input").val("");
            $(`.categorySelect option[value=${newCategory}]`).attr('selected', true);
        }
    }
    
}

//Get an array containing the current category list
//Note: because of how getValues() works, this will be a 2D array
//with only 1 column, where [0][0] is the word "Categories"
function getCategories() {
    google.script.run.withSuccessHandler(createCategories).getCategoryList();
}

// Add a Category to the current category list.
function addCategory(newCategory) {
    if (newCategory != null && newCategory != "") {
        google.script.run.withSuccessHandler(onFinish)
        .AddToSheet(newCategory);
    }
}

// On finish, Clean the Input field and auto select the New.
function onFinish(newCategory) {
    if (newCategory != null && newCategory != "") {
        getCategories();
    }
}

//Get an array containing the possible score and group options for questions.
//Note: because of how getValues() works, this will be a 2D array
//with 2 columns.  The first column gives score choices, where [0][0] reads "Point Percentage"
//The second column gives group choices, where [0][1] reads "Group"
function getScoreAndGroupChoices() {
    google.script.run.withSuccessHandler(storeScoreAndGroupChoices).getScoreAndGroupChoices();
}

//Store the score and group choices in a "constant" - we do this because withSuccessHandler can't return a value
function storeScoreAndGroupChoices(choices) {
    scoreAndGroupChoices = choices;
}

//Get the number of columns currently supported by QB2
function getNumOfAnswerCols() {
    google.script.run.withSuccessHandler(storeNumOfAnswerCols).getNumOfAnswers();
}

//Store the number of columns currently supported by QB2
function storeNumOfAnswerCols(numOfCols) {
    numOfAnswerCols = numOfCols;
}

//Create the dropdown menu to choose score for multichoice, shortanswer, etc. questions
function createScoreChoices(questionType) {
    let defaultScore = [0, 25, 50, 75, 100];
    if (scoreAndGroupChoices) {
        var sel = $('<select/>').attr("class", "scoreSelect");

        // Check question Type to get the options
        const col = scoreAndGroupChoices[0].findIndex(element => element === questionType);
        // Check if there is any valid content under the category we choose.
        const validContentIndex = scoreAndGroupChoices.findIndex((ele, i) => {
            return i != 0 && ele[col] != '';
        })

        // If questionType is doesn't exist, we populate with the default value...
        if(col == -1 || validContentIndex == -1){
            defaultScore.forEach((value, i) => {
                sel.append($('<option/>').attr("class", "scoreOption").attr("value", defaultScore[i]).text(defaultScore[i]));
            })
        }else {
            // Generate Options ...
            scoreAndGroupChoices.forEach((row, i) => {
            if(row[col] != '' && i > 0){
                sel.append($('<option/>').attr("class", "scoreOption").attr("value", row[col]).text(row[col]));
            }
            });
        }
        return sel;
    }
}

//Create the dropdown menu to choose group for missingwords and dragdrop questions
function createGroupChoices(questionType) {
    let defaultGroup = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
    if (scoreAndGroupChoices) {
        var sel = $('<select/>').attr("class", "groupSelect");

        // Check question Type to get the options
        const col = scoreAndGroupChoices[0].findIndex(element => element === questionType);
            // Check if there is any valid content under the category we choose.
        const validContentIndex = scoreAndGroupChoices.findIndex((ele, i) => {
            return i != 0 && ele[col] != '';
        });

        // If questionType is not a valid option, we populate our group with default options
        if(col == -1 || validContentIndex == -1){
            defaultGroup.forEach((value, i) => {
                sel.append($('<option/>').attr("class", "groupOption").attr("value", defaultGroup[i]).text(defaultGroup[i]));
            })
        } else {
            // Generate Options ...
            scoreAndGroupChoices.forEach((row, i) => {
                if(row[col] != '' && i > 0){
                    sel.append($('<option/>').attr("class", "scoreOption").attr("value", row[col]).text(row[col]));
                }
            });
        }
        return sel;
    }
}

//Changes the form based on a change to the selected question type
function displayQuestionInfo(questionType) {
    var node = $( "#questionSettings" );
    //Remove the part of the form associated with the old question type
    node.empty();
    var newDiv = $( "<div\>" );

    var showPrompts = true;
    var showQuestion = true;
    switch (questionType) {
        case "essay":
        case "poodllrecording":
        case "description":
            //No extra options are needed for these types
            break;
        case "cloze":
            //No extra options, but show how to use this type
            newDiv.attr("id", "clozeQuestion");
            var usageText = $(" <p\> ").attr("class", "smallText")
                    .html("<b>Usage:</b><br><u>Fill in the blank</u>:<br>Put the correct answer between ^ or [[ ]].<br>" +
                            "Ex: The capital of California is ^Sacramento^.<br>" +
                            "Ex: The capital of California is [[Sacramento]].<br>" +
                            "<br><br><u>Multiple choice</u>:<br>" +
                            "Put all answer choices between ^ or [[ ]], separated by commas, with the correct answer first.<br>" +
                            "Ex: The capital of California is ^Sacramento, Los Angeles, San Francisco^.<br>"+
                            "Ex: The capital of California is [[Sacramento, Los Angeles, San Francisco]].<br>");
            newDiv.html(usageText);
            break;
        case "dragdrop":
        case "missingwords":
            var usageText = $(" <p\> ").attr("class", "smallText")
                    .html("<b>Usage Example:</b><br>The capital of California is [[1]].<br><br>" +
                            "The correct answer for [[1]], Sacramento, should be placed in the first answer slot.");
            newDiv.html(usageText);
            //NOTE: We do NOT break here - fall through to the next case
        case "ordering":
        case "multichoice":
        case "multianswer":
        case "shortanswer":
        case "truefalse":
        case "matching":
            newDiv = generateQuestionDiv(questionType, newDiv);
            break;
        case "none":
            //Hide everything, no extra options added
            showPrompts = false;
            showQuestion = false;
            break;
        default:
            //Hide everything except a message saying this type is not supported
            showPrompts = false;
            newDiv.attr("id", "unsupportedQuestion");
            var notSupportedWarning = $(" <p\> ").attr("class", "smallText")
                    .html("It is not yet possible to use this sidebar to add the " + questionType + " question type.");
            newDiv.html(notSupportedWarning);
    }

    //Determine if we should hide or show category and question options
    if (showPrompts) {
        $( "#buttonRow" ).show();
        $( "#questionText" ).show();
        $( "#questionMedia" ).show();
        $( ".categories" ).show();
        $( ".instructions" ).hide();
        $( ".image" ).hide();
        $( ".tooltiptext").html(getQuestionDescriptions(questionType));
        $( "#whatIsThis" ).css("display", "inline-block");
        //The buttons at the bottom are visible, so set our margins accordingly
        $( ".scrollable" ).css("margin", "55px 0px 120px 0px");
    } else {
        $( "#buttonRow" ).hide();
        $( "#questionText" ).hide();
        $( "#questionMedia" ).hide();
        $( ".categories" ).hide();
        $( ".instructions" ).show();
        $( ".image" ).show();
        $( "#whatIsThis" ).hide();
        //The buttons at the bottom are not visible, so we have more room.
        $( ".scrollable" ).css("margin", "55px 0px 0px 0px");
    }

    if (showQuestion) {
        $( ".scrollable" ).show();
    } else {
        $( ".scrollable" ).hide();
    }

    node.append(newDiv);
}

//Returns a brief summary of QuestionType
function getQuestionDescriptions(questionType) {
    switch(questionType) {
        case "multichoice":
            return "<b>Multichoice</b>: One answer to be chosen from a limited set. Choices are shown in a random order by default. Automatically graded.";
        case "shortanswer":
            return "<b>Shortanswer</b>: Enter a small amount of text in response to a prompt. Use for \“fill in the blank\” type questions. Automatically graded.";
        case "truefalse":
            return "<b>TrueFalse</b>: Select whether the prompt is true or false. Automatically graded.";
        case "essay":
            return "<b>Essay</b>: Enter text of any length in response to a prompt. Use for questions where there is no one right answer or the right answer is too complex to grade automatically.";
        case "matching":
            return "<b>Matching</b>: Pair together items from two lists. Automatically graded.";
        case "description":
            return "<b>Description</b>: Provides instructions or other useful information. Can be used to distinguish different sections of an assessment.";
        case "ordering":
            return "<b>Ordering</b>: Put in order a shuffled list of items. Automatically graded. Only supported by schools with the Ordering plugin.";
        case "poodllrecording":
            return "<b>PoodllRecording</b>: Record audio or video in response to a prompt. Not automatically graded. Only supported by schools with the Poodll plugin.";
        case "cloze":
            return "<b>Cloze</b>: Combines fill in the blank and/or multiple choice questions. Best for having students fill in multiple blanks in a paragraph. Automatically graded.";
        case "dragdrop":
            return "<b>Dragdrop</b>: Fill in blanks from lists of possible answers by dragging the correct answers and dropping them in the blanks. Automatically graded.";
        case "missingwords":
            return "<b>Missingwords</b>: Fill in blanks from lists of possible answers by selecting the correct answer from a drop-down menu for each blank. Automatically graded.";
        case "multianswer":
            return "<b>Multianswer</b>: Multiple answers to be chosen from a limited set. Choices are shown in a random order by default. Automatically graded.";
        default:
            return "";
    }
}

//Generates the HTML structure for input for questionType.
//This is only called for question types that have answer details
//Everything is appended to newDiv, which will be returned as output.
function generateQuestionDiv(questionType, newDiv) {
    //Determine question type-specific settings
    var numAnswers = (questionType == 'truefalse' ? 2 : numOfAnswerCols);
    var numReqAnswers = (questionType == 'shortanswer' ? 1 : 2);
    var hasScore = (questionType == 'truefalse' || questionType == 'shortanswer' || questionType == 'multichoice' || questionType == 'multianswer');
    var hasGroup = (questionType == 'missingwords' || questionType == 'dragdrop');
    var leftBoxName = (questionType == 'matching' ? 'matchLeftBox' : 'answerTextBox');

    for (var i = 1; i <= numAnswers; i++) {
        //Generate the textboxes and labels for each answer
        //The specific class and id details depend on the question type, as set above
        var answerChoiceLabel = $( "<label\>" ).attr("for", leftBoxName + i).attr("class", "smallText").attr("id", leftBoxName + i + "Label")
            .html((questionType == 'matching' ? "Pair" : "Answer") + " #" + i + (i > numReqAnswers ? " (Optional)<br>" : "<br>"));
        var answerChoice = $( "<textarea\>" ).attr("id", leftBoxName + i).attr("name", leftBoxName + i)
            .attr("rows", "1").attr("form", "questionForm");
        if (questionType == 'truefalse') {
            answerChoice.attr("disabled", "disabled").attr("class", "trueFalseText");
        } else {
            answerChoice.attr("class", "resettableText");
        }
        if (questionType == 'truefalse') {
            answerChoice.html(i == 1 ? "TRUE" : "FALSE");
        }

        var leftDivClass = 'orderingDiv';
        if (questionType != 'ordering') {
            //All question types except ordering have two columns and so a left and a right div
            leftDivClass = (questionType == 'matching' ? "matchLeftDiv" : "answerTextDiv");
        }
        var leftDiv = $( "<div\>").attr("class", leftDivClass + " leftDiv");
        leftDiv.append(answerChoiceLabel);
        leftDiv.append(answerChoice);
        if (questionType == 'ordering') {
            newDiv.append(leftDiv);
        }

        //Score and group dropdowns are almost identical in implementation
        if (hasScore || hasGroup) {
            var scoreGroupIDText = hasScore ? "scoreBox" : "groupBox";

            var rightDiv = $( "<div\>").attr("class", "scoreGroupDiv rightDiv");
            var scoreGroupChoiceLabel = $( "<label\>" ).attr("for", scoreGroupIDText + i).attr("class", "smallText").attr("id", scoreGroupIDText + i + "Label")
                .html(hasScore ? "Score (%)<br>" : "Group<br>");

            //generate the dropdown itself
            var scoreGroupChoice;
            if (hasScore) {
                scoreGroupChoice = createScoreChoices(questionType);
            } else{
                scoreGroupChoice = createGroupChoices(questionType);
            }
            scoreGroupChoice.attr("id", scoreGroupIDText + i);
            scoreGroupChoice.attr("class", "resettableDropdown");

            rightDiv.append(scoreGroupChoiceLabel);
            rightDiv.append(scoreGroupChoice);

            newDiv.append(leftDiv);
            newDiv.append(rightDiv);
        } else if (questionType == 'matching') {
            //Matching has text in the right div so is treated separately
            // Don't need answerChoiceLabel in Left Div
            var leftDiv = $( "<div\>").attr("class", leftDivClass + " leftDiv");
            leftDiv.append(answerChoice);

            // Add Pair Text in the middle
            var midTextDiv = $("<div\>").css('text-align', 'center');
            answerChoiceLabel.addClass("middle-text");
            midTextDiv.append(answerChoiceLabel);
            
            // Add Arrow in the middle
            var arrowDiv = $( "<div\>").html("&#10132;").attr("class", "arrow").css('text-align', 'center');
            var rightDiv = $( "<div\>").attr("class", "matchRightDiv rightDiv");

            //Empty, but needed so the text boxes line up
            var matchRightAnswer = $( "<textarea\>" ).attr("class", "resettableText").attr("id", "matchRightBox" + i).attr("name", "matchRightBox" + i)
                .attr("rows", "1").attr("cols", "30").attr("form", "questionForm");
            rightDiv.append(matchRightAnswer);

            newDiv.append(midTextDiv);
            newDiv.append(leftDiv);
            newDiv.append(arrowDiv);
            newDiv.append(rightDiv);
        }
    }
    return newDiv;
}

//Confirms that the user wants to
function confirmReset() {
    google.script.run.withSuccessHandler(resetForm).sidebarResetWarning();
}

//Resets the form to its empty, initial state
//if shouldReset is true
function resetForm(shouldReset) {
    if (shouldReset) {
        $( "#questionForm" ).trigger("reset");
        //Reset doesn't trigger the change function for the question dropdown,
        //so manually reset the remaining parts of the form
        displayQuestionInfo("none");
        $( "#lastAdded" ).hide();
    }
}

//Add the question from the sidebar to the spreadsheet
function addQuestion() {
    var questionInfo = [];
    var questionType = "";
    //If the user hasn't selected a category, the value and text af the selected
    //item in the dropdown are different; otherwise they are the same.
    //if no category is selected, leave it blank
    if ($('.categorySelect :selected').val() != $('.categorySelect :selected').text()) {
        questionInfo.push("");
    } else {
        questionInfo.push($('.categorySelect :selected').val());
    }

    questionType = $('#questionType :selected').text();
    //Push the information for each cell to our list in order
    questionInfo.push(questionType);
    questionInfo.push($('#questionTextBox').val());
    switch (questionType) {
        case "ordering":
        case "multichoice":
        case "multianswer":
        case "shortanswer":
        case "truefalse":
        case "dragdrop":
        case "missingwords":
            var rightColumn = (questionType == 'dragdrop' || questionType == 'missingwords' ? "#groupBox" : "#scoreBox");
            for (var i = 1; i <= (questionType == "truefalse" ? 2 : numOfAnswerCols); i++) {
                var answer = $( "#answerTextBox" + i ).val();
                if (answer != '') {
                    questionInfo.push(answer);
                    if (questionType != 'ordering') {
                        questionInfo.push($( rightColumn + i + " :selected").text());
                    } else {
                        questionInfo.push('');
                    }
                }
            }
            break;
        case "matching":
            for (var i = 1; i <= numOfAnswerCols; i++) {
                var matchLeft = $( "#matchLeftBox" + i ).val();
                var matchRight = $( "#matchRightBox" + i ).val();
                if (matchLeft != '' && matchRight != '') {
                    questionInfo.push(matchLeft);
                    questionInfo.push(matchRight);
                }
            }
            break;
    }

    google.script.run.withSuccessHandler(displayRow).addSidebarQuestion(
            $('#questionType :selected').text(),
            questionInfo,
            $('#questionMediaCheckbox').prop("checked")
    );
}

//Displays the row of the most recently added question.
//row is -1 if adding failed.
function displayRow(row) {
    var rowDiv = $( "#lastAdded" );
    rowDiv.empty();

    var rowText = "";

    if (row == -1) {
        //Add failed
        rowText = $(" <p\> ").attr("class", "smallText")
                .html("There was an error adding this question.");
    } else {
        //Add succeeded
        //Clear the question but keep category and type
        clearQuestion();
        rowText = $(" <p\> ").attr("class", "smallText")
                .html("Your last question was added to line " + row + ".");
    }

    rowDiv.append(rowText);
    rowDiv.show();
}

//Clears question text and options, but leaves category and question type
function clearQuestion() {
    //All elements to clear have a resettable class
    $( '.resettableText' ).each (function() {
       $(this).val('');
    });

    $( '.resettableDropdown' ).each (function() {
       $(this).prop('selectedIndex',0);
    })

    $( '.resettableCheckbox' ).each (function() {
       $(this).prop('checked', false);
    });
}

//Prevent the user from accidentally clicking the submit button twice
//in rapid succession.
function disableButton() {
    var button = $( '.add' );
    button.prop('disabled', true);
    setTimeout(function() {
        button.prop('disabled', false);
    }, 2000);
}

function openLink(link) {
    window.open(link, '_blank');
}
</script>
